<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <meta charset='utf-8'>
    <title>Number to string</title>
  </head>
  <body>
    <div class="container">
      <h1>Change Number to String</h1>
      <div>
        <form action="/story" method="post">
          <div class="form-group">
            <label for="userNumber">Enter a number between 1 and 999999999999</label>
            <input id="userNumber" name="userNumber" class="form-control" type="text">
          </div>
          <button type="submit" class="btn">Change it to word!</button>
        </form>
      </div>
    </div>
  </body>
</html>
