<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <meta charset='utf-8'>
    <title>Result</title>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Result :</h1>
        <p>
          Your number @Model.GetOriginalNumber() is equal to : @Model.GetResult()
        </p>
      </div>
    </div>
  </body>
</html>
